body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.btn {
    height: 25px;
    width: 395px;
}

.container {
    height: 395px;
    width: 395px;
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    border: 2px solid black;
}

.row {
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
}

.column {
    height: auto;
    width: auto;
    flex: 1 1 auto;
    box-sizing: border-box;
}

.colored {
    background-color: black;
}