div {
    border: 2px solid black;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}

.row {
    height: 50px * 16;
    width: 50px * 16;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    height: 50px;
    width: 50px;
}